!!! XML
!!!
%html{html_attrs}
  %head
    %title= "Forever Family Foundation"
    = stylesheet_link_tag 'compiled/screen', :media => 'screen'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    = sprockets_include_tag
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

%body
  .container
    .header
      %h1 Forever Family Foundation
      - if current_user
        = link_to t("home"), url_for(:controller => 'welcome', :action => 'logged_in_index')
      - else
        = link_to t("home"), root_path
      = link_to t("login"), new_user_session_path unless current_user
      = link_to t("register"), new_account_path unless current_user
      = link_to t("admin"), admin_cms_pages_path if  current_user and is_admin
      = link_to t("logout"), user_session_path, :method => :delete if current_user
    .content
      %p
        = flash[:notice]
      %h2= @cms_page.title
      = textilize @cms_page.body
      = yield
  
